#text p {
    --delay: 0.5s;
    --duration: 2s;
    --count: 1;
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    opacity: 0;
    animation: fadein var(--duration);
    animation-delay: var(--delay);
    animation-fill-mode: forwards;
    animation-iteration-count: var(--count);

    -moz-animation: fadein var(--duration); /* Firefox */
    -moz-animation-delay: var(--delay);
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: var(--count);

    -webkit-animation: fadein var(--duration); /* Safari and Chrome */
    -webkit-animation-delay: var(--delay);
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: var(--count);

    -o-animation: fadein var(--duration); /* Opera */
    -o-animation-delay: var(--delay);
    -o-animation-fill-mode: forwards;
    -o-animation-iteration-count: var(--count);
}

#noanimation p {
  opacity: 1 !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  animation: none !important;
}

#text img {
    --delay: 1s;
    --duration: 2s;
    --count: 1;
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    opacity: 0;
    animation: fadein var(--duration);
    animation-delay: var(--delay);
    animation-fill-mode: forwards;
    animation-iteration-count: var(--count);

    -moz-animation: fadein var(--duration); /* Firefox */
    -moz-animation-delay: var(--delay);
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: var(--count);

    -webkit-animation: fadein var(--duration); /* Safari and Chrome */
    -webkit-animation-delay: var(--delay);
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: var(--count);

    -o-animation: fadein var(--duration); /* Opera */
    -o-animation-delay: var(--delay);
    -o-animation-fill-mode: forwards;
    -o-animation-iteration-count: var(--count);
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

#noanimation img {
  opacity: 1 !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  animation: none !important;
}

.col-border {
    --delay: 1s;
    --duration: 2s;
    --count: 1;
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    opacity: 0;
    animation: fadein var(--duration);
    animation-delay: var(--delay);
    animation-fill-mode: forwards;
    animation-iteration-count: var(--count);

    -moz-animation: fadein var(--duration); /* Firefox */
    -moz-animation-delay: var(--delay);
    -moz-animation-fill-mode: forwards;
    -moz-animation-iteration-count: var(--count);

    -webkit-animation: fadein var(--duration); /* Safari and Chrome */
    -webkit-animation-delay: var(--delay);
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: var(--count);

    -o-animation: fadein var(--duration); /* Opera */
    -o-animation-delay: var(--delay);
    -o-animation-fill-mode: forwards;
    -o-animation-iteration-count: var(--count);
}

#noanimation div {
  opacity: 1 !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  animation: none !important;
}
