.col-border {
  border-left: 2px solid black;
}

.row-relative {
  position: relative;
}

.border-between > [class*='col-']:before {
   background: #71797e;
   bottom: 0;
   content: " ";
   left: 0;
   position: absolute;
   width: 2px;
   top: 0;
}

.border-between > [class*='col-']:first-child:before {
   display: none;
}

hr {
  display: block;
  height: 2px;
  width: 85%;
  border: 0;
  border-top: 2px solid black;
  margin: auto;
  padding: 0;
  opacity: 1;
}


.img-fluid {
  width: 80% !important;
}
